@model model.InformacionGeneral
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>El nombre: @Model.Nombre</p>
<p>El apellido: @Model.apellido</p>
<p>La fecha de nacimiento: @Model.fecha_de_nacimiento</p>
<p>El genero: @Model.genero</p>
